@charset "UTF-8";
/* Default Css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: #c1c1c1;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: #222;
  outline: none;
}
html::-webkit-scrollbar-thumb:active, body::-webkit-scrollbar-thumb:active {
  background: #00B5D3;
}

body {
  color: #333333;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
a:active, a:hover {
  text-decoration: none;
}

button,
.btn {
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
button:active, button:hover, button:focus,
.btn:active,
.btn:hover,
.btn:focus {
  outline: 0;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  color: #333333;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}

.btn:hover,
.btn:focus {
  outline: 0;
  box-shadow: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  color: #333333;
  font-weight: 700;
  margin-bottom: 20px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 48px;
  line-height: 1.3;
}

h2 {
  font-size: 36px;
  line-height: 1.3;
}

h3 {
  font-size: 28px;
  line-height: 1.3;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-size: 16px;
  line-height: 1.2;
}

hr {
  margin: 20px 0;
  border-color: #352323;
}

ol {
  list-style: decimal;
}

p:last-child {
  margin-bottom: 0;
}

/* Form */
label {
  color: #ddd;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

*::-moz-selection {
  background: #00B5D3;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #00B5D3;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #00B5D3;
  color: #fff;
  text-shadow: none;
}

/* Placeholder */
*::-moz-placeholder {
  color: #333333;
  font-size: 16px;
  opacity: 1;
}

*::placeholder {
  color: #333333;
  font-size: 16px;
  opacity: 1;
}

/* Button */
.btn-theme {
  color: #fff;
  border-color: #00B5D3;
  background: #00B5D3;
}
.btn-theme:hover {
  background: #00B5D3;
  color: #fff;
  border-color: #00B5D3;
}

.btn-rounded {
  border-radius: 100% !important;
}

.btn-square {
  border-radius: 0 !important;
}

/* Bg Color */
.bg-gray {
  background: #ddd;
}

.bg-white {
  background: #fff;
}

.bg-black {
  background: #000;
}

.bg-theme {
  background: #00B5D3;
}

.bg-dark {
  background-color: #101a23 !important;
}

.bg-off-white {
  background-color: #f8f8f8;
}

.bg-off-white-2 {
  background-color: #f6f6f6;
}

.bg-off-white-3 {
  background-color: #fdfdfd !important;
}

.bg-blue {
  background-color: #4c87ff !important;
}

.bg-yellow {
  background-color: #fea116 !important;
}

.bg-pink {
  background-color: #fc4557 !important;
}

.bg-egg-blue {
  background-color: #1cb5a3 !important;
}

.bg-purple {
  background-color: #5851a7 !important;
}

/* Text Color */
.gray-color {
  background: #ddd;
}

.white-color {
  color: #fff;
}

.black-color {
  color: #000;
}

.theme-color {
  color: #00B5D3;
}

/* Others Common Css Here :) */
.table-row {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

.separator {
  border-top: 1px solid #f2f2f2;
}

[data-overlay] {
  position: relative;
  z-index: 1;
}
[data-overlay]::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
}

[data-overlay=light]::before {
  background-color: #fff;
}

[data-overlay=dark]::before {
  background-color: #000a2d;
}

[data-overlay=theme]::before {
  background-color: #00B5D3;
}

[data-opacity="1"]::before {
  opacity: 0.1;
}

[data-opacity="2"]::before {
  opacity: 0.2;
}

[data-opacity="3"]::before {
  opacity: 0.3;
}

[data-opacity="4"]::before {
  opacity: 0.4;
}

[data-opacity="5"]::before {
  opacity: 0.5;
}

[data-opacity="6"]::before {
  opacity: 0.6;
}

[data-opacity="7"]::before {
  opacity: 0.7;
}

[data-opacity="8"]::before {
  opacity: 0.8;
}

[data-opacity="9"]::before {
  opacity: 0.9;
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  padding-right: var(--bs-gutter-x, 15px);
  padding-left: var(--bs-gutter-x, 15px);
}

.row {
  --bs-gutter-x: 30px;
}

.slide-bar {
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: -330px;
  width: 300px;
  padding: 25px 20px;
  height: 100%;
  display: block;
  background-color: #ffffff;
  z-index: 1020;
  -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
}

.slide-bar.show {
  right: 0;
}

.open-mobile-menu {
  display: inline-block;
}
.open-mobile-menu a {
  display: block;
  color: #212121;
  text-align: center;
  font-size: 20px;
}
.open-mobile-menu a:hover {
  color: #00B5D3;
}
.open-mobile-menu a.active {
  color: #00B5D3;
}

.close-mobile-menu a {
  color: #212121;
  position: relative;
  z-index: 2;
  font-size: 16px;
  top: -10px;
  left: 0;
}
.close-mobile-menu a:hover {
  color: #ff0000;
}

.on-side {
  overflow: hidden;
}

.body-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  left: 0;
  opacity: 0;
  display: none;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.body-overlay.active {
  opacity: 1;
  display: block;
}

.side-mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.side-mobile-menu ul li a {
  padding: 13px 0;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 16px;
  color: #101a23;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
.side-mobile-menu ul li a:hover {
  color: #00B5D3;
  padding-left: 5px;
}
.side-mobile-menu ul li a[aria-expanded=true] {
  color: #00B5D3;
}
.side-mobile-menu ul li a[aria-expanded=true]:before {
  background: #00B5D3;
  border-color: #00B5D3;
}
.side-mobile-menu ul li ul {
  padding-left: 0;
  list-style: none;
}
.side-mobile-menu ul li ul li {
  padding-left: 15px;
}
.side-mobile-menu ul li ul li:hover > a {
  color: #00B5D3;
  padding-left: 20px;
}
.side-mobile-menu ul li ul li:hover > a:before {
  background: #00B5D3;
  border-color: #00B5D3;
}
.side-mobile-menu ul li ul li a {
  position: relative;
  padding-left: 15px;
  text-transform: capitalize;
  font-size: 16px;
}
.side-mobile-menu ul li ul li a:before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #101a23;
  border-radius: 50%;
}
.side-mobile-menu ul li ul li a[aria-expanded=true] {
  padding-left: 20px;
}
.side-mobile-menu ul li.has-children > a:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-width: 2px 0 0 2px;
  border-style: solid;
  border-color: initial;
  right: 16px;
  top: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  transition: all 0.3s ease-out;
}
.side-mobile-menu ul li.has-children a[aria-expanded=true]:after {
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

.header-area {
  background: #F3F3F3;
  position: relative;
  padding: 0 85px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .header-area {
    padding: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-area {
    padding: 10px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .header-area {
    padding: 10px 0;
  }
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-menu ul li {
  display: inline-block;
}
.main-menu ul li:hover > a {
  background: #fff;
  color: #00B5D3;
}
.main-menu ul li:hover > a:before {
  left: 20px;
  right: 20px;
  visibility: visible;
  opacity: 1;
}
.main-menu ul li a {
  display: block;
  padding: 15px 20px;
  color: #333;
  text-transform: capitalize;
  font-size: 20px;
  position: relative;
}
.main-menu ul li a:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 5px;
  right: 50%;
  height: 2px;
  background: #00B5D3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.main-menu ul .has-mega-dropdown:hover .mega-menu {
  visibility: visible;
  opacity: 1;
}
.main-menu ul .has-mega-dropdown .mega-menu {
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  width: 100%;
  padding: 10px 85px;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .main-menu ul .has-mega-dropdown .mega-menu {
    padding: 10px 0;
  }
}
.main-menu ul .has-mega-dropdown .mega-menu .container-fluid {
  padding: 0 15px;
}
.main-menu ul .has-mega-dropdown .mega-menu .mega-sub-menu {
  display: inline-block;
}
.main-menu ul .has-mega-dropdown .mega-menu .mega-sub-menu li {
  margin-right: 30px;
}
.main-menu ul .has-mega-dropdown .mega-menu .mega-sub-menu li:hover a {
  background: transparent;
}
.main-menu ul .has-mega-dropdown .mega-menu .mega-sub-menu li a {
  padding: 10px 0;
  font-size: 16px;
}
.main-menu ul .has-mega-dropdown .mega-menu .mega-sub-menu li a:before {
  display: none;
}
.main-menu ul .has-mega-dropdown .mega-menu .social-link {
  display: inline-block;
}
.main-menu ul .has-mega-dropdown .mega-menu .social-link li {
  margin-right: 20px;
}
.main-menu ul .has-mega-dropdown .mega-menu .social-link li:hover a {
  background: transparent;
}
.main-menu ul .has-mega-dropdown .mega-menu .social-link li a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  font-size: 16px;
  background: #00B5D3;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}
.main-menu ul .has-mega-dropdown .mega-menu .social-link li a:before {
  display: none;
}
.main-menu ul .has-mega-dropdown .mega-menu .social-link li a:hover {
  background: #333;
}
.main-menu ul .has-mega-dropdown .mega-menu .search {
  display: inline-block;
}
.main-menu ul .has-mega-dropdown .mega-menu .search a {
  padding: 10px 0;
  font-size: 16px;
}
.main-menu ul .has-mega-dropdown .mega-menu .menu-btn {
  display: inline-block;
}
.main-menu ul .has-mega-dropdown .mega-menu .menu-btn a {
  padding: 10px 15px;
  font-size: 16px;
  background: #00B5D3;
  color: #fff;
  border-radius: 5px;
}
.main-menu ul .has-mega-dropdown .mega-menu .menu-btn a:hover {
  background: #333;
}

.attr-menu {
  display: inline-block;
}
.attr-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.attr-menu ul li {
  display: inline-block;
  margin-right: 25px;
}
.attr-menu ul li a {
  display: block;
  padding: 15px 0;
  color: #333;
  text-transform: capitalize;
  font-size: 16px;
}

.language {
  display: inline-block;
  position: relative;
}
.language span {
  color: #333;
  font-size: 16px;
  padding: 15px 0;
  display: block;
  cursor: pointer;
}
.language span img {
  margin-right: 5px;
  border-radius: 50%;
}
.language:hover ul {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.language ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  position: absolute;
  right: 0;
  top: 120%;
  z-index: 99;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-width: 120px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.language ul li {
  display: block;
}
.language ul li a {
  display: block;
  padding: 5px 15px;
  font-size: 14px;
  text-align: left;
  color: #333;
}
.language ul li a:hover {
  background: rgba(0, 181, 211, 0.2);
}

.hero-area {
  padding: 0 85px;
  position: relative;
  z-index: 1;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-area {
    padding: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-area {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-area {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .hero-area {
    padding: 0;
  }
}
.hero-area .hero-content {
  padding-top: 200px;
  margin-bottom: 100px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-area .hero-content {
    padding-top: 90px;
    margin-bottom: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-content {
    padding-top: 40px;
    margin-bottom: 35px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content {
    padding-top: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .hero-area .hero-content {
    padding-top: 50px;
    margin-bottom: 50px;
  }
}
.hero-area .hero-content .title {
  font-size: 60px;
  color: #333;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-area .hero-content .title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-content .title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .hero-area .hero-content .title {
    font-size: 30px;
    line-height: 50px;
  }
}
.hero-area .hero-content .title span {
  color: #00B5D3;
}
.hero-area .hero-content .btn-wrap .btn-a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background: #00B5D3;
  border: 1px solid #00B5D3;
  margin-right: 20px;
  border-radius: 5px;
}
.hero-area .hero-content .btn-wrap .btn-a:hover {
  background: #333;
  border-color: #333;
}
.hero-area .hero-content .btn-wrap .btn-b {
  display: inline-block;
  padding: 10px 40px;
  color: #00B5D3;
  background: transparent;
  border: 1px solid #00B5D3;
  margin-right: 20px;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .hero-area .hero-content .btn-wrap .btn-b {
    padding: 10px 20px;
    margin-right: 5px;
  }
}
.hero-area .hero-content .btn-wrap .btn-b:hover {
  background: #00B5D3;
  color: #fff;
}
.hero-area .scroll-btn {
  margin-bottom: 90px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-area .scroll-btn {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-area .scroll-btn {
    display: none;
  }
}
@media (max-width: 767px) {
  .hero-area .scroll-btn {
    display: none;
  }
}
.hero-area .scroll-btn a {
  display: inline-block;
  color: #333;
  text-align: center;
}
.hero-area .scroll-btn a img {
  display: block;
}
.hero-area .hero-thumb {
  position: absolute;
  right: 0;
  top: 0;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-area .hero-thumb {
    width: 60%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-thumb {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-thumb {
    position: static;
  }
}
@media (max-width: 767px) {
  .hero-area .hero-thumb {
    position: static;
  }
}

.section-title .title {
  font-size: 45px;
  color: #333333;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-title .title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .section-title .title {
    font-size: 30px;
  }
}

.read-more-btn {
  display: inline-block;
  padding: 10px 40px;
  color: #00B5D3;
  background: transparent;
  border: 1px solid #00B5D3;
  border-radius: 5px;
}
.read-more-btn:hover {
  background: #00B5D3;
  color: #fff;
}

.clint-slider {
  position: relative;
}
.clint-slider .single-clint {
  text-align: center;
}
.clint-slider .single-clint img {
  display: inline-block;
}
.clint-slider .slick-prev {
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: 0;
  border: 0;
  font-size: 35px;
  color: #00B5D3;
}
@media (min-width: 1400px) and (max-width: 1700px) {
  .clint-slider .slick-prev {
    left: -20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .clint-slider .slick-prev {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .clint-slider .slick-prev {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .clint-slider .slick-prev {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .clint-slider .slick-prev {
    display: none !important;
  }
}
.clint-slider .slick-next {
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: 0;
  border: 0;
  font-size: 35px;
  color: #00B5D3;
}
@media (min-width: 1400px) and (max-width: 1700px) {
  .clint-slider .slick-next {
    right: -20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .clint-slider .slick-next {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .clint-slider .slick-next {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .clint-slider .slick-next {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .clint-slider .slick-next {
    display: none !important;
  }
}

.feature-wrap .thumb {
  margin-bottom: 20px;
}
.feature-wrap .content h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
.feature-wrap .content p {
  font-size: 18px;
}
.feature-wrap .content .read-more {
  display: inline-block;
  padding: 10px 40px;
  color: #00B5D3;
  background: transparent;
  border: 1px solid #00B5D3;
  border-radius: 5px;
}
.feature-wrap .content .read-more:hover {
  background: #00B5D3;
  color: #fff;
}

.feature-content h3 {
  font-size: 50px;
  font-weight: 500;
  color: #333;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .feature-content h3 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .feature-content h3 {
    font-size: 28px;
  }
}
.feature-content p {
  font-size: 18px;
}
.feature-content .read-more {
  display: inline-block;
  padding: 10px 40px;
  color: #00B5D3;
  background: transparent;
  border: 1px solid #00B5D3;
  border-radius: 5px;
}
.feature-content .read-more:hover {
  background: #00B5D3;
  color: #fff;
}

.feature-thumb {
  position: relative;
}
.feature-thumb img {
  width: 100%;
}
.feature-thumb .video-btn a {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  outline: none;
  background: #10c9c3;
  text-align: center;
  height: 85px;
  width: 85px;
  line-height: 85px;
  z-index: 2;
}

.feature-info-thumb img {
  margin-right: 30px;
}

.guide-content h3 {
  font-size: 30px;
  color: #00B5D3;
}
.guide-content p {
  font-size: 18px;
  margin-bottom: 30px;
}
.guide-content .read-more {
  display: inline-block;
  padding: 10px 40px;
  color: #00B5D3;
  background: transparent;
  border: 1px solid #00B5D3;
  border-radius: 5px;
}
.guide-content .read-more:hover {
  background: #00B5D3;
  color: #fff;
}

.small-title {
  font-size: 18px;
}

.guide-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.guide-list li {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}
.guide-list li img {
  margin-right: 5px;
}

.guide-info {
  background: #00B5D3;
  padding: 30px;
  border-radius: 5px;
}
.guide-info h3 {
  color: #333;
  margin-bottom: 0;
}
.guide-info p {
  color: #333;
}
.guide-info .persent {
  font-size: 40px;
  color: #fff;
}
.guide-info .persent i {
  color: #333;
}

.guide-area-2 {
  background: #F2FBFD;
}

.view-more {
  color: #333;
}

.guide-nav .nav-tabs {
  border-bottom: 0px;
}
.guide-nav .nav-tabs .nav-link {
  border: 0;
  padding: 15px 10px;
  font-weight: 500;
  color: #333;
}
.guide-nav .nav-tabs .nav-link img {
  display: block;
  border-radius: 50%;
  margin-bottom: 8px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .guide-nav .nav-tabs .nav-link img {
    width: 80px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .guide-nav .nav-tabs .nav-link img {
    width: 80px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .guide-nav .nav-tabs .nav-link img {
    width: 50px;
  }
}
@media (max-width: 767px) {
  .guide-nav .nav-tabs .nav-link img {
    width: 90px;
  }
}
.guide-nav .nav-tabs .nav-link.active {
  background: #F2FBFD;
}

.guide-info-2 {
  padding: 30px 30px 30px 100px;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .guide-info-2 {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .guide-info-2 {
    padding: 30px;
  }
}
.guide-info-2 .persent {
  font-weight: 400;
  font-size: 70px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .guide-info-2 .persent {
    font-size: 50px;
  }
}
.guide-info-2 .persent sup {
  font-size: 20px;
  top: -40px;
}

.news-events-area {
  background: #F2FBFD;
}

.our-quality-area {
  background: #F8F8F8;
}

.our-quality-slider {
  position: relative;
}
.our-quality-slider .slick-prev {
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: 0;
  border: 0;
  font-size: 60px;
  color: #00B5D3;
}
@media (min-width: 1400px) and (max-width: 1700px) {
  .our-quality-slider .slick-prev {
    left: -20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .our-quality-slider .slick-prev {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .our-quality-slider .slick-prev {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-quality-slider .slick-prev {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .our-quality-slider .slick-prev {
    display: none !important;
  }
}
.our-quality-slider .slick-next {
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: 0;
  border: 0;
  font-size: 60px;
  color: #00B5D3;
}
@media (min-width: 1400px) and (max-width: 1700px) {
  .our-quality-slider .slick-next {
    right: -20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .our-quality-slider .slick-next {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .our-quality-slider .slick-next {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-quality-slider .slick-next {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .our-quality-slider .slick-next {
    display: none !important;
  }
}
.our-quality-slider .single-quality {
  text-align: center;
}
.our-quality-slider .single-quality .thumb {
  margin-bottom: 20px;
}
.our-quality-slider .single-quality .thumb img {
  display: inline-block;
}
.our-quality-slider .single-quality .content h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}
.our-quality-slider .single-quality .content span {
  font-size: 16px;
}

hr {
  color: #00B5D3;
}

.bg-newsletter {
  background: #093444;
}

.knowledge-nav .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background: #00B5D3;
}

.knowledge-nav .nav-item {
  margin-right: 20px;
  margin-bottom: 20px;
}
.knowledge-nav .nav-item .nav-link {
  border-radius: 10px;
  background: #e3e7ea;
  color: #426276;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .knowledge-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 500;
  }
}

.trails-wrap img {
  border-radius: 5px;
  width: 100%;
}

.new-product-items .product-img img {
  border-radius: 5px;
  width: 100%;
}
.new-product-items .product-content .product-heading img {
  width: 25px;
  height: 25px;
}
.new-product-items .product-content .product-heading span {
  font-size: 14px;
  font-weight: 700;
  color: #00b5d3;
}
.new-product-items .product-content .product-descritpion p {
  font-size: 34px;
  color: #4c6b7c;
  font-weight: 400;
}
@media (max-width: 767px) {
  .new-product-items .product-content .product-descritpion p {
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .new-product-items .product-content .product-descritpion p {
    font-size: 26px;
  }
}
.new-product-items .product-content .product-descritpion h5 {
  color: #395d70;
  font-size: 19px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .new-product-items .product-content .product-descritpion h5 {
    font-size: 16px;
  }
}

.events-items .events-heading .icon {
  font-size: 20px;
  margin-right: 10px;
}
.events-items .events-heading span {
  font-size: 16px;
  font-weight: 700;
  color: #00b5d3;
}
.events-items .events-description {
  border-bottom: 1px solid #ddd;
}
.events-items .events-description p {
  font-weight: 600;
}

.white-title .title {
  color: #fff;
}
.white-title p {
  color: #fff;
}
.white-title span {
  color: #fff;
  font-size: 16px;
}

.section-title p {
  color: #395d70;
  font-size: 18px;
  font-weight: 600;
}

.newsletter-wrap form .email-wrap {
  display: inline-block;
}
@media (max-width: 767px) {
  .newsletter-wrap form .email-wrap {
    display: block;
  }
}
.newsletter-wrap form .email-wrap .input-wrap {
  display: inline-block;
}
@media (max-width: 767px) {
  .newsletter-wrap form .email-wrap .input-wrap {
    display: block;
  }
}
.newsletter-wrap form .email-wrap .input-wrap input {
  border: none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  width: 230px;
  margin-right: 20px;
  padding: 0px 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .newsletter-wrap form .email-wrap .input-wrap input {
    width: 180px;
  }
}
@media (max-width: 767px) {
  .newsletter-wrap form .email-wrap .input-wrap input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.newsletter-wrap form .email-wrap .input-wrap input::placeholder {
  color: #e4e2dc;
}
.newsletter-wrap form .newsletter-wrapper {
  display: inline-block;
}
@media (max-width: 767px) {
  .newsletter-wrap form .newsletter-wrapper {
    display: block;
  }
}
.newsletter-wrap form .newsletter-wrapper .input-wrap {
  display: inline-block;
  position: relative;
}
@media (max-width: 767px) {
  .newsletter-wrap form .newsletter-wrapper .input-wrap {
    display: block;
  }
}
.newsletter-wrap form .newsletter-wrapper .input-wrap select {
  border: none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  width: 230px;
  margin-right: 20px;
  appearance: none;
  padding: 0px 20px;
  color: #e4e2dc;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991px) {
  .newsletter-wrap form .newsletter-wrapper .input-wrap select {
    width: 180px;
  }
}
@media (max-width: 767px) {
  .newsletter-wrap form .newsletter-wrapper .input-wrap select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.newsletter-wrap form .newsletter-wrapper .input-select {
  position: relative;
}
.newsletter-wrap form .newsletter-wrapper .input-select::after {
  position: absolute;
  content: "";
  color: #00B5D3;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Pro";
  font-weight: 700;
  pointer-events: none;
}
@media (max-width: 767px) {
  .newsletter-wrap form .newsletter-wrapper .input-select::after {
    top: 33%;
  }
}
.newsletter-wrap form button {
  border: none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  width: 200px;
}
.newsletter-wrap form button:hover {
  background: #e3e7ea;
  color: #000;
}

.video-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
  min-height: 530px;
  margin-top: 15px;
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .video-wrapper {
    min-height: 525px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-wrapper {
    min-height: 390px;
  }
}
@media (max-width: 767px) {
  .video-wrapper {
    min-height: 450px;
  }
}
.video-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000;
  opacity: 0.3;
}
.video-wrapper .video-wrap a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  outline: none;
  background: #00b5d3;
  text-align: center;
  height: 110px;
  width: 110px;
  line-height: 110px;
}
@media (max-width: 767px) {
  .video-wrapper .video-wrap a {
    height: 40px;
    width: 40px;
    line-height: 40px;
  }
}
.video-wrapper .video-wrap a:hover {
  background: #fff;
}
.video-wrapper .video-wrap a:hover i {
  color: #00b5d3;
}
.video-wrapper .video-wrap a i {
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .video-wrapper .video-wrap a i {
    font-size: 12px;
  }
}
.video-wrapper .video-content {
  position: absolute;
  top: 20px;
  left: 10px;
}
.video-wrapper .video-content h4 {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
}
@media (max-width: 767px) {
  .video-wrapper .video-content h4 {
    font-size: 22px;
  }
}
.video-wrapper .video-content .hub-btn {
  background: #e3e7ea;
  border-radius: 5px;
  padding: 10px 10px;
  margin-right: 20px;
  color: #000;
  font-size: 18px;
}
@media (max-width: 767px) {
  .video-wrapper .video-content .hub-btn {
    font-size: 14px;
  }
}
.video-wrapper .video-content .hub-btn:hover {
  background: #00B5D3;
  color: #fff;
}

.video-items .video-wrapper {
  min-height: 180px;
}
.video-items .video-wrapper .video-wrap a {
  height: 50px;
  width: 50px;
}
.video-items .video-wrapper .video-wrap a i {
  font-size: 14px;
}
.video-items .video-description .video-heading {
  color: #00B5D3;
  font-size: 18px;
}
.video-items .video-description .video-heading .icon {
  margin-right: 5px;
}
.video-items .video-description p {
  font-size: 20px;
}

.views-wrap .section-title .title {
  font-size: 24px;
}

.events-items-flex {
  display: flex;
  flex-wrap: wrap;
}

.view-numb {
  flex-wrap: wrap;
  border-radius: 50%;
  background: #002b46;
  color: #fff;
  margin-right: 20px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  display: inline-block;
}

.view-description {
  flex: 1 0 0%;
}
.view-description img {
  width: 25px;
  height: 25px;
}
.view-description span {
  font-size: 18px;
  color: #00B5D3;
  font-weight: 600;
}
.view-description .icon {
  margin-right: 5px;
}
.view-description p {
  font-weight: 600;
  font-size: 16px;
}

.thumb-wrap .thumb-content p {
  color: #395d70;
  font-size: 18px;
}
.thumb-wrap .thumb-content h5 {
  color: #002b46;
}
.thumb-wrap .thumb-content span {
  color: #00B5D3;
  font-size: 18px;
  font-weight: 600;
}

.social-links-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
@media (min-width: 768px) and (max-width: 991px) {
  .social-links-wrap {
    justify-content: start;
  }
}
@media (max-width: 767px) {
  .social-links-wrap {
    justify-content: start;
  }
}
.social-links-wrap span {
  color: #4c6b7c;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .social-links-wrap span {
    margin-bottom: 20px;
  }
}
.social-links-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-links-wrap ul li {
  display: inline-block;
  margin-right: 15px;
}
.social-links-wrap ul li:last-child {
  margin-right: 0;
}
.social-links-wrap ul li a i {
  background: #00B5D3;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

.our-community-wrap {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
.our-community-wrap .our-community-img {
  position: relative;
  margin-bottom: 15px;
}
.our-community-wrap .our-community-img img {
  border-radius: 5px;
  width: 100%;
}
.our-community-wrap .our-community-img .video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  outline: none;
  background: #10c9c3;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
}
.our-community-wrap .our-community-img .video-btn a {
  color: #fff;
}
.our-community-wrap .our-community-content p {
  color: #4c6b7c;
  font-size: 18px;
  font-weight: 600;
}
.our-community-wrap .our-community-content span {
  color: #333;
}
.our-community-wrap .our-community-content span i {
  background: #00B5D3;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 15px;
}

.our-quality-count h2 {
  font-size: 120px;
  color: #00B5D3;
  font-weight: 300;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .our-quality-count h2 {
    font-size: 80px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-quality-count h2 {
    font-size: 70px;
  }
}
@media (max-width: 767px) {
  .our-quality-count h2 {
    font-size: 60px;
  }
}
.our-quality-count .our-quality-wrap img {
  width: 25px;
  height: 25px;
}
.our-quality-count .our-quality-wrap span {
  color: #002b46;
  font-size: 18px;
  font-weight: 700;
}

.feel-free {
  font-size: 18px;
  font-weight: 500;
  color: #4c6b7c;
}

.testimonials-wrap .thumb-img img {
  width: 100%;
}
.testimonials-wrap .thumb-content {
  margin-top: 20px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .testimonials-wrap .thumb-content {
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-wrap .thumb-content {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .testimonials-wrap .thumb-content {
    padding-right: 0;
    padding-left: 0;
  }
}

.crops-area {
  background: #f8f8f8;
}

.link-page ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link-page ul li {
  display: inline-block;
}
.link-page ul li a {
  color: #57cadd;
  font-size: 16px;
  font-weight: 600;
}
.link-page ul li a:hover {
  color: #325369;
}
.link-page ul li a i {
  color: #325369;
  margin: 0 5px;
}

.crops-items-wrap .crops-img {
  margin-bottom: 10px;
}
.crops-items-wrap .crops-img img {
  width: 100%;
}
.crops-items-wrap .crops-content span {
  font-size: 18px;
  font-weight: 600;
}

.section-title h2 {
  font-size: 55px;
  color: #333333;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-title h2 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .section-title h2 {
    font-size: 30px;
  }
}

.btn-wrap .knowledges-btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background: #00B5D3;
  border: 1px solid #00B5D3;
  margin-right: 20px;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .btn-wrap .knowledges-btn {
    margin-right: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
.btn-wrap .knowledges-btn:hover {
  background: #333;
  border-color: #333;
}

.search-wrap .input-wrap {
  position: relative;
}
.search-wrap .input-wrap .icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10px;
}
.search-wrap .input-wrap input {
  width: 100%;
  padding: 15px;
  padding-left: 40px;
  border: 1px solid #dbdbdb;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .search-wrap .input-wrap input {
    font-size: 16px;
  }
}
.search-wrap .input-wrap input::placeholder {
  color: #cbcbcb;
  font-size: 20px;
}
@media (max-width: 767px) {
  .search-wrap .input-wrap input::placeholder {
    font-size: 16px;
  }
}

.knowledge-hubs-area {
  background: #fdfdfd;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .knowledge-hubs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}

.knowledge-hubs-img img {
  width: 100%;
}

.knowledge-hubs-content {
  border-bottom: 1px solid #edeff1;
}
@media (min-width: 768px) and (max-width: 991px) {
  .knowledge-hubs-content {
    min-height: 85px;
  }
}
.knowledge-hubs-content span {
  color: #5bcfe2;
  font-size: 18px;
  font-weight: 600;
}
.knowledge-hubs-content span i {
  margin-right: 5px;
  color: #5bcfe2;
}
.knowledge-hubs-content p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.most-viewed {
  background: #fdfdfd;
}

@media (min-width: 768px) and (max-width: 991px) {
  .most-viewed-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .most-viewed-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }
}

.most-viewed-img {
  margin-bottom: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .most-viewed-img {
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .most-viewed-img {
    margin-right: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .most-viewed-img img {
    height: 130px;
  }
}
@media (max-width: 767px) {
  .most-viewed-img img {
    height: 130px;
  }
}

.most-viewed-content {
  border-bottom: 1px solid #edeff1;
  min-height: 115px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .most-viewed-content {
    padding-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .most-viewed-content {
    flex: 1 0 0%;
    padding-right: 50px;
  }
}
@media (max-width: 767px) {
  .most-viewed-content {
    flex: 1 0 0%;
    padding-right: 0;
  }
}
.most-viewed-content i {
  margin-right: 5px;
  color: #5bcfe2;
}
.most-viewed-content span {
  color: #5bcfe2;
  font-size: 18px;
  font-weight: 600;
}
.most-viewed-content p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.all-resources-area {
  background: #f8f8f8;
}

.all-resources-wrapper {
  display: inline-block;
}
@media (max-width: 767px) {
  .all-resources-wrapper {
    display: block;
  }
}
.all-resources-wrapper .input-wrap {
  display: inline-block;
  position: relative;
}
@media (max-width: 767px) {
  .all-resources-wrapper .input-wrap {
    display: block;
  }
}
.all-resources-wrapper .input-wrap select {
  border: none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  width: 230px;
  margin-right: 20px;
  appearance: none;
  padding: 0px 20px;
  color: #36586d;
  font-weight: 600;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991px) {
  .all-resources-wrapper .input-wrap select {
    width: 180px;
  }
}
@media (max-width: 767px) {
  .all-resources-wrapper .input-wrap select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.all-resources-wrapper .input-select {
  position: relative;
}
.all-resources-wrapper .input-select::after {
  position: absolute;
  content: "";
  color: #00B5D3;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Pro";
  font-weight: 700;
  pointer-events: none;
}
@media (max-width: 767px) {
  .all-resources-wrapper .input-select::after {
    top: 33%;
  }
}

.all-resources-items {
  min-height: 300px;
  border-bottom: 1px solid #e3e6e9;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .all-resources-items {
    margin-bottom: 20px;
  }
}
.all-resources-items .all-resources-img {
  position: relative;
  margin-bottom: 15px;
}
.all-resources-items .all-resources-img img {
  border-radius: 5px;
  width: 100%;
}
.all-resources-items .all-resources-img .video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  outline: none;
  background: #10c9c3;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
}
.all-resources-items .all-resources-img .video-btn a {
  color: #fff;
}

.all-resources-content span {
  color: #5bcfe2;
  font-size: 18px;
  font-weight: 600;
}
.all-resources-content span i {
  margin-right: 5px;
  color: #5bcfe2;
}
.all-resources-content p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-directly span {
  font-weight: 600;
}
.contact-directly .contact-personally span {
  font-weight: 400;
}
.contact-directly .contact-personally .mail-to a i {
  color: #00b5d3;
  font-size: 20px;
}
.contact-directly .contact-personally .tel-number a {
  color: #6f8796;
  font-size: 18px;
}
.contact-directly .contact-personally .tel-number a i {
  color: #00b5d3;
}

.new-product-items .product-content .product-heading-big span {
  font-size: 18px;
  font-weight: 500;
}

.events-items .events-heading-big .icon i {
  font-weight: 500;
}
.events-items .events-heading-big span {
  font-weight: 500;
  font-size: 16px;
}
.events-items .event-descritpion-big p {
  font-size: 18px;
  font-weight: 500;
}

.guide-img img {
  width: 100%;
  margin-bottom: 15px;
}
.guide-img p {
  font-size: 18px;
  font-weight: 500;
}

.footer-area {
  background: #002B46;
}

.footer-separator {
  border-bottom: 1px solid #fff;
}

.footer-social-link a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  font-size: 16px;
  background: #00B5D3;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
}

.footer-language span {
  color: #fff;
}
.footer-language ul {
  left: 0;
  right: auto;
}

.feature-area {
  background: #F2FBFD;
}

.widget-wrap .widget-title {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
.widget-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget-wrap ul li {
  display: block;
  margin-bottom: 5px;
}
.widget-wrap ul li a {
  display: block;
  color: #fff;
  font-size: 16px;
}

/*------------------------------------------------------------------------------
	Template Name: Starter Project Template.
-------------------------------------------------------------------------------*/

/*# sourceMappingURL=main.css.map */
